@media all and (max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

@media screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
}

@media screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
}

@media screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }
}

 @media screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}